footer {
    padding: 20px;
    background-color: #ECEDEE;
}

.wp-row {
    margin: 100px 0 100px 0;
}

.form {
    display: block;
}

.welcome{
    margin-left: 0;
}

.round {
    width: 50px;
    height: 50px;
    background-color: white;
    border: 3px black solid;
    cursor: pointer;
    border-radius: 50%;
}

.top{
    text-align: center;
}

.vertical{
    text-align: center;
}

.left{
    margin-right: 163px;
}